.dropbtn {
    background-color: #f9f9f9;
    color: black;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius:30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    border-radius:30px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius:30px;
  }
  
  .dropdown-content a:hover {background-color: #f0f0f0}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }
#fillR
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #fillR:focus{
outline: none;
} 
#fillG
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #fillG:focus{
outline: none;
} 
#fillB
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #fillB:focus{
outline: none;
} 
#borderR
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #borderR:focus{
outline: none;
} 
#borderG
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #borderG:focus{
outline: none;
} 
#borderB
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #borderb:focus{
outline: none;
} 
#backR
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #backR:focus{
outline: none;
} 
#backG
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #backG:focus{
outline: none;
} 
#backB
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #backB:focus{
outline: none;
} 
#textB
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #textB:focus{
outline: none;
} 
#textG
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #textG:focus{
outline: none;
} 
#textR
{
    color : white;
    background: transparent;
    font-weight: 100px;
    outline: none;
    border: 0px none;
}
textarea:focus, #textR:focus{
outline: none;
} 